/* style.css */
 
.subheading {
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	text-align: center;
  margin-bottom: 15px
}

.display-4 {
	font-family: 'Nunito', sans-serif;
	text-align: center;
  margin-bottom: 20px
}

.div_background {
  background-color: #c6d9ec;
  padding: 50px;
  border: 1px solid #0080ff;
  border-radius: 8px;
}

/* .table .table-condensed .table-striped {
	font-family: 'Nunito', sans-serif;
	font-size: 10px;

} */

#remnants, #search {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#remnants td, #search td {
  border: 1px solid #ddd;
  padding: 8px;
}

#remnants tr:nth-child(even){background-color: #f2f2f2;}

#remnants tr:hover {background-color: #ddd;}

#remnants th, #search th  {
  padding: 8px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-transform:uppercase;
}