/* style.css */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;

}

.subheading {
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	text-align: center;
  margin-bottom: 15px
}

.display {
  text-align: center;
  font-size: 1.45em;
  padding: .1em;
  border-radius: 5px;
}

.display-4 {
  font-size: 1.75em;
  font-weight: 400;
	font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 1em;
  margin-bottom: -1rem;
  display: block;
}

.div_background {
  background-color: #c6d9ec;
  padding: 30px;
  border: 1px solid #0080ff;
  border-radius: 8px;
  align-content: center;
}

/* .table .table-condensed .table-striped {
	font-family: 'Nunito', sans-serif;
	font-size: 10px;

} */

#remnants, #search {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#remnants td, #search td {
  border: 1px solid #ddd;
  padding: 8px;
}

#remnants tr:nth-child(even){background-color: #f2f2f2;}

#remnants tr:hover {background-color: #ddd;}

#remnants th, #search th  {
  padding: 8px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-transform:uppercase;
}


.alert{
  font-size: 18px; 
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 10px;
  background: #ff6347;
  color: white;
  margin-bottom: 15px;
  display:  none;
}